@import url(./reset.css);
@import url(typography.css);
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

body {
    background-color: black;
}

#hero {
    background-image: url(../imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    }

#hero #gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.9108237044817927) 0%, rgba(0,0,0,0.3646052170868347) 51%, rgba(0,0,0,0.913624824929972) 100%);
}

#hero header {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2rem 4rem;
}

#hero header img {
    width: 12rem;
}

#hero header button {
    background-color: #e20813;
    border: none;
    height: 2.25rem;
    width: 5rem;
    border-radius: 3px;
    cursor: pointer;
}

#mainFlex {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#mainFlex h1 {
    font-size: 4em;
    line-height: 1.2;
}

#mainFlex h3 {
    font-size: 1.3rem;
    margin-bottom: 1REM;
}

#mainFlex form {
    margin-top: 2REM;
}

#mainFlex form input {
    width: 30rem;
    height: 4rem;
    padding-left: 8px;
}

#mainFlex form button {
    background-color: #e20813;
    border: none;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

#mainFlex form button i {
    margin-left: 0.313rem;
}

.divider {
background-color: #222222;
height: 0.5rem;
}

.sectionFlex {
    display: flex;
    align-items: center;
    padding: 5rem 12rem;
}

.sectionFlex img {
    width: 40rem;
}

.enjoy div,
.watch div {
margin-right: 2rem;
}

.download div,
.kids div {
    margin-left: 2rem;
}

/* --ACCORDION-- */

.accordion {
    width: 50rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
    background: #303030;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    height: 5rem;
  }
  
  .accordion-header.active {
    background-color: #303030;
  }
  .accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  
  .accordion-body {
    padding: 0 1rem;
    background-color: #303030;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .accordion-body.active {
    max-height: 10rem;
    padding: 1rem;
  }

 #accordion {
     text-align: center;
 }

 #accordion h1 {
     margin-top: 3rem;
     margin-bottom: 2rem;
 }

 #accordion form {
     margin: 3rem 0;
 }

 #accordion form input {
    width: 30rem;
    height: 4rem;
    padding-left: 8px;
}

#accordion form button {
    background-color: #e20813;
    border: none;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

#accordion form button i {
    margin-left: 0.313rem;
    }

#accordion form h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* --FOOTER-- */

#footerDiv {
    display: block;
    width: 50%;
    margin: 3rem auto;
}

footer h5,
footer div li a,
footer p {
    color: rgb(138, 138, 138);
}

footer h5 {
    cursor: pointer;
    margin-bottom: 1.5rem;
}

footer h5:hover {
    text-decoration: underline;
}

footer div li a {
    text-decoration: none;
}

footer div li a:hover {
    text-decoration: underline;
}

footer div li {
    margin-bottom: 0.75rem;
}

#footerFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}

footer p {
    margin-top: 2rem;
}
@media screen and (max-width: 1500px){
    .sectionFlex {
        padding: 5rem 8rem;
    }
}


@media screen and (max-width: 1200px) {
    .sectionFlex {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .sectionFlex div {
        order: 1;
        margin-bottom: 2rem;
    }

    .sectionFlex div h1 {
        margin-bottom: 1rem;
    }

    .sectionFlex img {
        order: 2;
    }
    
}

@media screen and (max-width: 1130px) {
    #mainFlex form button,
    #accordion form button {
        display: block;
        margin: 1rem auto;
    }

    .sectionFlex {
        padding: 5rem 5rem;
    }

    #footerFlex {
        gap: 5rem;
    }

}

@media screen and (max-width: 800px) {
    #mainFlex form button,
    #accordion form button {
        width: 12rem;
    }

    .accordion {
        width: 45rem;
    }

    #footerFlex {
        gap: 4rem;
    }

}

@media screen and (max-width: 600px) {
    #hero header img {
        width: 10rem;
    }
    
    #hero header button {
        width: 8rem;
    }
}

@media screen and (max-width: 450px) {
    .accordion {
        width: 30rem;
    }

    .sectionFlex img {
        width: 30rem;
    }

    #footerFlex {
        gap: 3rem;
    }
    
}

@media screen and (max-width: 320px) {
    #accordion form input,
    #mainFlex form input {
        width: 100%;
    }

    .accordion {
        width: 100%;
    }

    .sectionFlex img {
        width: 100%;
    }

}